In [5]:
import numpy as np
import pandas as pd
from jqdatasdk import *
auth('15801680656','6Shadowky!')

auth success

In [12]:
#查询是否连接成功
#isauth = is_auth()
#print(isauth)

#查询剩余数量
#count=get_query_count()
#print(count)

In [13]:
get_all_securities(types=[], date=None)

            display_name  name start_date   end_date   type
000001.XSHE         平安银行  PAYH 1991-04-03 2200-01-01  stock
000002.XSHE          万科A   WKA 1991-01-29 2200-01-01  stock
000004.XSHE         国华网安  GHWA 1990-12-01 2200-01-01  stock
000005.XSHE         世纪星源  SJXY 1990-12-10 2200-01-01  stock
000006.XSHE         深振业A  SZYA 1992-04-27 2200-01-01  stock
...                  ...   ...        ...        ...    ...
688777.XSHG         中控技术  ZKJS 2020-11-24 2200-01-01  stock
688788.XSHG         科思科技  KSKJ 2020-10-22 2200-01-01  stock
688819.XSHG         天能股份  TNGF 2021-01-18 2200-01-01  stock
688981.XSHG         中芯国际  ZXGJ 2020-07-16 2200-01-01  stock
689009.XSHG         九号公司  JHGS 2020-10-29 2200-01-01  stock

[4269 rows x 5 columns]

In [14]:
# 获取000001.XSHE的中文名称
display_name = get_security_info('000001.XSHE').display_name
print(display_name)
# 获取000001.XSHE的上市时间
start_date = get_security_info('000001.XSHE').start_date
print(start_date)

平安银行
1991-04-03

In [15]:
get_price('000001.XSHE') # 获取000001.XSHE的2015年的按天数据

             open  close   high   low       volume         money
2015-01-05  10.24  10.26  10.43  9.99  446489383.0  4.565388e+09
2015-01-06  10.15  10.11  10.50  9.96  338159640.0  3.453446e+09
2015-01-07   9.97   9.92  10.14  9.80  265374121.0  2.634796e+09
2015-01-08   9.93   9.58   9.97  9.55  219732012.0  2.128003e+09
2015-01-09   9.55   9.66  10.17  9.42  391555169.0  3.835378e+09
...           ...    ...    ...   ...          ...           ...
2015-12-25   9.60   9.62   9.67  9.56   51558377.0  4.956380e+08
2015-12-28   9.64   9.29   9.66  9.29  106046218.0  1.003010e+09
2015-12-29   9.30   9.38   9.38  9.28   79920944.0  7.447184e+08
2015-12-30   9.38   9.38   9.39  9.27   68685228.0  6.412772e+08
2015-12-31   9.38   9.30   9.41  9.29   63345821.0  5.916436e+08

[244 rows x 6 columns]

In [16]:
get_price('000001.XSHE', start_date='2015-01-01', end_date='2015-01-31 23:00:00', frequency='minute', fields=['open', 'close']) # 获得000001.XSHG的2015年01月的分钟数据, 只获取open+close字段

                      open  close
2015-01-05 09:31:00  10.24  10.28
2015-01-05 09:32:00  10.28  10.25
2015-01-05 09:33:00  10.24  10.25
2015-01-05 09:34:00  10.26  10.29
2015-01-05 09:35:00  10.29  10.27
...                    ...    ...
2015-01-30 14:56:00   8.92   8.94
2015-01-30 14:57:00   8.93   8.93
2015-01-30 14:58:00   8.92   8.92
2015-01-30 14:59:00   8.92   8.92
2015-01-30 15:00:00   8.92   8.92

[4800 rows x 2 columns]

In [17]:
get_price('000001.XSHE', count = 2, end_date='2015-01-31', frequency='daily', fields=['open', 'close']) # 获取获得000001.XSHG在2015年01月31日前2个交易日的数据

            open  close
2015-01-29  8.85   8.91
2015-01-30  8.92   8.92

In [18]:
get_price('000001.XSHE', start_date='2015-12-01 14:00:00', end_date='2015-12-02 12:00:00', frequency='1m') # 获得000001.XSHG的2015年12月1号14:00-2015年12月2日12:00的分钟数据

                     open  close  high   low     volume      money
2015-12-01 14:00:00  9.16   9.14  9.16  9.14   263565.0  2412856.0
2015-12-01 14:01:00  9.16   9.16  9.17  9.16  1020865.0  9353134.0
2015-12-01 14:02:00  9.16   9.15  9.17  9.15   376006.0  3444622.0
2015-12-01 14:03:00  9.15   9.15  9.17  9.15   522876.0  4791651.0
2015-12-01 14:04:00  9.15   9.14  9.16  9.14   237389.0  2171519.0
...                   ...    ...   ...   ...        ...        ...
2015-12-02 11:26:00  9.31   9.32  9.32  9.31   153188.0  1426625.0
2015-12-02 11:27:00  9.32   9.33  9.33  9.31   148804.0  1387123.0
2015-12-02 11:28:00  9.33   9.32  9.33  9.31   138875.0  1294344.0
2015-12-02 11:29:00  9.33   9.33  9.33  9.32    97612.0   910417.0
2015-12-02 11:30:00  9.33   9.33  9.34  9.32    74015.0   690230.0

[181 rows x 6 columns]

In [24]:
panel =  get_price(get_index_stocks('000903.XSHG')) # 获取中证100的所有成分股的2015年的天数据, 返回一个[pandas.Panel]
df_open = panel['open']  # 获取开盘价的[pandas.DataFrame],  行索引是[datetime.datetime]对象, 列索引是股票代号
df_volume = panel['volume']  # 获取交易量的[pandas.DataFrame]

df_open['000001.XSHE'] # 获取平安银行的2015年每天的开盘价数据

0         9.70
1        10.76
2        10.23
3        10.85
4        10.74
         ...
24395    12.54
24396    12.71
24397    12.25
24398    12.36
24399    12.34
Name: open, Length: 24400, dtype: float64

In [33]:
df = get_bars('600519.XSHG', 10, unit='1d',fields=['date','open','high','low','close'],include_now=False,end_dt='2018-12-05')
print(df)

         date    open    high     low   close
0  2018-11-21  554.00  568.90  553.68  564.70
1  2018-11-22  565.15  567.33  558.00  564.50
2  2018-11-23  564.00  567.30  556.90  556.90
3  2018-11-26  558.00  560.20  552.00  552.11
4  2018-11-27  552.00  554.99  546.50  548.10
5  2018-11-28  550.85  559.19  545.50  557.00
6  2018-11-29  566.03  569.80  549.01  551.60
7  2018-11-30  557.00  568.89  553.00  565.00
8  2018-12-03  589.00  605.00  584.77  601.20
9  2018-12-04  602.99  604.26  595.00  602.23